extends ../layout

block script
    script(src='/js/status/status.js')


block content
    header
        .navbar.navbar-static-top
            .container
                a.navbar-brand(href='/')
                    span FLYDEV
                    sup v0.1
                .nav-collapse.collapse
                    ul.nav.navbar-nav.pull-right
                        li: a(href='#/login') Контрольно-пропускной пункт


    .container
        .row
            .col-12
                hr
                h1 FLYDEV JET ENGINE
                hr

        .row
            .col-12.well
                div(ng-controller='ServersCtrl')
                    .row(ng-repeat='server in stats',style='padding-bottom:10px')
                        form(ng-submit='deleteServer()')
                            input(type='hidden',ng-model='id',value='{{ server.id }}')
                            .col-4= '{{ server.title }}'
                            .col-4= '{{ server.host }}:{{ server.port }}'
                            .col-2= '{{ server.stat.numplayers }}/{{ server.stat.maxplayers }}'
                            .col-2
                                button.btn.btn-danger(type='submit')= 'Remove'

                    .row
                        form(ng-submit='addServer()')
                            .col-4
                                input.col-8(type='text',placeholder='name',ng-model='title')
                            .col-4
                                input.col-6(type='text',placeholder='host',ng-model='host')
                                span.col-1=':'
                                input.col-3(type='text',placeholder='port',ng-model='port')
                            .col-2
                            .col-2
                                button.btn.btn-primary(type='submit')= 'Add'




    footer
        .navbar.navbar-fixed-bottom
            .container
                .by
                    a(href='//awesome39.com') При поддержке 
                        abbr AWESOME{39}
