extends ../layout

block script
    script(src='/js/server/status.js')


block content
    header
        .navbar.navbar-static-top
            .container
                a.navbar-brand(href='/')
                    span FLYDEV
                    sup v0.1
                .nav-collapse.collapse
                    ul.nav.navbar-nav.pull-right
                        li: a(href='#/login') Контрольно-пропускной пункт


    .container
        .row
            .col-12
                hr
                h1 FLYDEV JET ENGINE
                hr

        .row
            .col-12.well
                div(ng-controller='ServersCtrl')

                    .row(ng-repeat='server in stats',style='padding-bottom:10px')
                        .col-4
                            a(href='#/server/{{ server.id }}')='{{ server.title }}'
                        .col-4= '{{ server.host }}:{{ server.port }}'

                        .col-2
                            div(ng-if='server.error')
                                div= '{{ server.error }}'

                            div(ng-if='server.stat')
                                div= '{{ server.stat.numplayers }}/{{ server.stat.maxplayers }}'

                        .col-2
                            button.btn.btn-danger(ng-click='deleteServer(server)')= 'Remove'

                    .row
                        form(ng-submit='addServer()')
                            .col-4
                                .row
                                    .col-3
                                        input.form-control(type='text',placeholder='id',ng-model='id')
                                    .col-9
                                        input.form-control(type='text',placeholder='name',ng-model='title')
                            .col-4
                                .row
                                    .col-7
                                        input.form-control(type='text',placeholder='host',ng-model='host')
                                    .col-4
                                        input.form-control(type='text',placeholder='port',ng-model='port')
                            .col-2
                            .col-2
                                button.btn.btn-primary(type='submit')= 'Add'

                    .row
                        .col-12
                            a(href='#/servers/0')= 'zero'
                            a(href='#/servers/1')= 'one'
                            a(href='#/servers/2')= 'two'

                    .row
                        .col-12
                            div(ng-view)





    footer
        .navbar.navbar-fixed-bottom
            .container
                .by
                    a(href='//awesome39.com') При поддержке 
                        abbr AWESOME{39}

